
<!DOCTYPE html>
<html>
  <head>
    <title> Week 1 Statistics </title>
    <link href="./public/CSS/bootstrap.css" type="text/css" rel="stylesheet">
   <link href="../public/CSS/styles.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>




  <body class="body">

<div class="main-div">
  <h1 id="heading"> Week 1 Statistics </h1>
<ol>
    <li>The most popular product is : {{mostPopularProduct}} </li>
    <li>The least popular product is : {{leastPopularProduct}} </li>
    <li>The most popular category is : {{mostPopularCategory}} </li>
    <li>The least popular Category is :  {{leastPopularCategory}}</li>
  <li>The most Profitable Product is: {{mostProfitableProduct}}</li>
    <li>The most Profitable category is : {{mostProfitableCategory}} </li>
</ol>
      <div id="dropdownbox" class="btn-group">



          <a href="" class="btn-info" role="button" onClick="history.go(-1); return true;">Back</a>




    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../public/JS/bootstrap.js"></script>
  </body>

</html>



<!-- <div>
  <h1>Week 1 Statistics</h1>
  <div class="body">
  <body>
    <p>The most popular product is : Coke 500ml </p>
    <p>The least popular product is : Shampoo 1 litre </p>
    <p>The most popular category is : Sweets </p>
    <p>The least popular Category is :  Hygiene</p>
    <p>The most Profitable Product is: Imasi</p>
    <p>The most Profitable category is : Dairy </p>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="handlebars v4.0.5.js"></script>


</body>
</div> -->


<!-- mostPopularProduct: mpp1,
leastPopularProduct: lpp1,
mostProfitableProduct: mpfp1,
mostProfitableCategory: mpfpC1 -->
